.container {
  margin: 0;
  padding: 0;
  background-color: rgb(249, 250, 255);
}
.main {
  margin: auto;

  text-align: center;
  padding-top: 4rem;
  height: 100vh;
}

.heading {
  text-transform: uppercase;
  color: blue;
  font-size: 3rem;
}
